body {
    margin: 0px;
    padding: 0%;
    background-image: linear-gradient(to bottom, #FFF, #ffd8ff, #eda8ff, #6b63d3, #3e0f71);
}

.header {
    max-width: auto;
    background-color: rgb(48, 44, 44);
    padding: 10px;
}
.name-head {
    color: rgb(72, 72, 236);
    font-size: 500%;
    margin-bottom: 0%;
    margin-left: 575px;
    font-family: 'Courier New', Courier, monospace;
}
.name-sub {
    color: rgb(62, 62, 236);
    font-weight: lighter;
    margin-left: 600px;
}
.sidebar {
    border-bottom-right-radius: 20px;
}
.flex{
    display: flex;
}
.tools {
    margin: 15px 10px 15px 10px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(31, 31, 243);
    border-radius: 20px;
    border: 2px solid white;
}
a {
    text-decoration: none;
    color: white;
}
.photo,
.graphic {
    padding: 25px 100px;
    margin: 50px 50px 10px 300px;
    background-color: blue;
    border-radius: 100px;
    box-shadow: 7px 7px rgb(155, 182, 233);
    border: 3px solid darkblue;
}
.photo{
    animation-name: slide-photo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.graphic {
    animation-name: slide-graphic;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
button:hover {
    background-color: cornflowerblue;
}
 .footer {
     padding: 15px;
     background-color: rgb(156, 148, 148);
     color: white;
     margin-top: 50px;
     text-align: center;
     font-size: 75%;
}
.gmail {
    background-color: rgb(117, 115, 115);
    margin: 7px 2px;
    padding: 1px 2px;
    border: 2px solid rgb(94, 90, 90);
    border-radius: 9px;
}
.logo {
    float: left;
}

@keyframes slide-photo {
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(150px, 0px);}
    50% {transform: translate(300px, 0px);}
    75% {transform: translate(-250px, 0px);}
    100% {transform: translate(0px, 0px);}
}
@keyframes slide-graphic {
    0% {transform: translate(0px, 0px);}
    25% {transform: translate(-150px, 0px);}
    50% {transform: translate(-300px, 0px);}
    75% {transform: translate(250px, 0px);}
    100% {transform: translate(0px, 0px);}
}


 @media screen and (max-width: 600px) {
    .flex {
        display: initial;
    }
    .sidebar {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        justify-content: space-evenly;
        border-radius: 0%;
        background-color: gray;
    }
    .tools,
    .address {
        padding: 15px 20px;
        margin: 10px;
    }
    .buttons {
        display: flex;
        flex-flow: column;
    }
    .photo,
    .graphic {
    align-self: center;
    text-align: center;
    padding: 25px 50px;
    margin: 50px 0px 20px 0px;
    }
    .photo{
        animation-name: slide-photo;
        animation-duration: 10s;
        animation-iteration-count: 1;
    }
    .graphic {
        animation-name: slide-graphic;
        animation-duration: 10s;
        animation-iteration-count: 1;
    }
    .header {
        padding: 10px;
    }
    .name-head,
    .name-sub {
        margin-left: 0;
        text-align: center;
    }
    .footer {
        margin-top: 100px;
    }
    .logo {
        display: none;
    }
 }



