body {
    margin: 0%;
}

header {
    text-align: center;
}
.header {
    max-width: auto;
    background-color: #670a0a;
    padding: 10px;
}
.head-name {
    color: rgb(72, 72, 236);
    text-align: center;
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
}
.tools {
    text-decoration: none;
    color: white;
}
button {
    padding: 5px 30px;
    background-color: blue;
    font-size: 110%;
    border-radius: 8px;
    border: 2px solid white;
    margin-bottom: 10px;
}

.flex-1,
.flex-2,
.flex-3 {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
}
.imgs {
    align-self: center;
    border: 5px solid black;
    border-radius: 10px;
}

.anime img {
    display: block;
    transition: all 1.5s;
}
.imgs:active {
    transform: scale(1.65);
    border: none;
}

.tools:hover {
    color: blue;
}
button:hover {
    background-color: white;
    font-size: 100%;
    border: 2px solid blue;
}
a {
    color: white;
}
.footer {
    padding: 15px;
    background-color: rgb(156, 148, 148);
    color: white;
    margin-top: 50px;
    text-align: center;
    font-size: 75%;
}
.gmail {
   background-color: rgb(117, 115, 115);
   margin: 7px 2px;
   padding: 1px 2px;
   border: 2px solid rgb(94, 90, 90);
   border-radius: 9px;
}

@media screen and (max-width: 600px) {
    body {
        max-width: auto;
    }
    
    .head-name {
        font-size: 210%;
    }
    button {
        padding: 7px 10px;
        font-size: 80%;
        border-radius: 5px;
    }
    .flex-1,
    .flex-2 {
        display: initial;
    }
    .imgs {
        width: 100%;
        text-align: center;
        margin: 20px 10px;
    }
    
}